body, textarea {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;

}

h1 {
    color: aliceblue;
    
}

.text h1 {
    margin-bottom: 150px;
    margin-top: -150px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

main {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); 
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: -30px;
}

.main-banner {
    background-image: linear-gradient(rgba(0,0,0, 0.8), rgba(0,0,0, 0.8)), url('../img/img2.png');
    background-size: cover;
    background-position: center;
    padding: 20em 0;
    position: relative;
    width: 100%;
    height: 100%;
}
.main-banner-principia {
    background-image: linear-gradient(rgba(0,0,0, 0.6), rgba(0,0,0, 0.6)), url('../img/slide_desktop_kits.png');
    background-size: cover;
    background-position: center;
    padding: 20em 0;
    position: relative;
    width: 100%;
    height: 100%;
}
.main-banner-cadastro {
    background-image: linear-gradient(rgba(0,0,0, 0.8), rgba(0,0,0, 0.8)), url('../img/img2.png');
    background-size: cover;
    background-position: center;
    padding: 19em 0;
    position: relative;
    width: 100%;
    height: 100%;
}

.main-banner-sallve {
    background-image: linear-gradient(rgba(0,0,0, 0.8), rgba(0,0,0, 0.8)), url('../img/01_Animacao_Sallve-logo-Site.jpeg');
    background-size: cover;
    background-position: center;
    padding: 19em 0;
    position: relative;
    width: 100%;
    height: 100%;
}
/*nav-bar*/

.navbar-container {
    width: 100%;
    height: 70px;
    background-color: #2f3e46;
    padding: 0 1em;
    position: relative;
    box-sizing: border-box;
}

nav {
    position: relative;
}

.navbar-items {
    list-style: none;
    position: relative;
    display: inline-block;
    height: 70px;
    line-height: 70px;
    margin: 0;
    right: 10px;
}

.navbar-items li {
    display: inline-block;
    margin-left: 15px;
    color: aliceblue;
}

.navbar-items li a {
    color: aliceblue;
}


.default-btn {
    padding: 10px 20px;
    background-color: #212529;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    position: relative;
    box-sizing: border-box;
    border-color: #212529;
    
}

.espaco-navs {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


/*Container Home */

.container-principia {
    width: 30%;
    height: 300px;
    background-color: #e2eafc;
    padding: 0 ;
    position: relative;
    overflow: hidden;
    
}

.card-image1{
    background-image: url('../img/logo-principia.jpeg');
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 150px;
}

.container-sallve {
    width: 30%;
    height: 300px;
    background-color: #e2eafc;
    padding: 0 ;
    position: relative;
    overflow: hidden;

}


.card-image2{
    background-image: url('../img/01_Animacao_Sallve-logo-Site.jpeg');
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 150px;
    
}

.containers {
        display: flex;
        width: 90%;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0%;
        justify-content: space-around;
}

.card-action {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.card-action p {
    display: flex;
    margin: 20px;
    font-size: 14px;
    justify-content: center;
    align-items: center;

}


/*rodape*/

.rodape {
    width: 100%;
    height: 70px;
    left: 0;
    background-color: #2f3e46;
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/*produtos*/

.card {
    background-color: aliceblue;
    border: 1px solid #7e7c7c;
    border-radius: 5px;
    overflow: hidden;
    width: 400px;
    height: 500px;
    margin: 0px;
    margin-bottom: 30px;
}

.info {
    padding: 10px;
}

.info h2 {
    margin-top: 0;
    text-transform: uppercase;
    font-size: 16px;
}

.info p {
    font-size: 14px;
}



.card-btn {
    display: flex;
    justify-content: space-between;

}

img {
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 300px;
}

.produtos {
    margin:150px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
   
}

/*cadastro*/



.infos h1 {
    text-transform: uppercase;
    color: #f5f7fa;
    display: flex;
    justify-content: center;
    padding: 30px;
   
}

.cad {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
    margin-top: -150px;
}

.cadastro {
    background-color: #f5f7fa 80%;
    border: 1px solid #212529;
    border-radius: 10px;
    width: 600px;
    margin-top: 30px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#form-box {
    margin: 30px;
}

#form-box input {
    display: block;
    font-size: 12px;
    padding: 12px 9px;
    background-color:  #f5f7fa 80%;
    border: 1px solid #212529;
    width: 268px;
    margin: 5px auto;
    border-radius: 5px;
}

#form-box input[type="submit"]{
    background-color:  #f5f7fa 80%;
    color: black;
    margin-top: 15px;
    border-radius: 5px;
    height: 30px;
    border-color: #f5f7fa;
    font-size: 13px;
    padding: 0;
    font-weight: bold;
    cursor: pointer;
}

